Repository weaveworks/ignite, pull requests merged in 2020-06, with the labels that each got.

#611 Shadow the bogus /etc/resolv.conf of centos:8 to fix `wksctl`
  images/centos/Dockerfile
  images/centos/resolv.conf
Labels: priority/important-soon

#573 Check links using GH Action
  .github/workflows/check-links.yaml
  .github/workflows/markdown-link-check-config.json
  CHANGELOG.md
  docs/api/ignite_v1alpha1.md
  docs/api/ignite_v1alpha2.md
  docs/declarative-config.md
  docs/releases/v0.4.0.md
  docs/requirements.txt
  go.sum
  mkdocs.yml
Labels: kind/documentation

#620 Remove ignite v1alpha1 API
  .circleci/config.yml
  Makefile
  pkg/apis/ignite/scheme/scheme.go
  pkg/apis/ignite/v1alpha1/conversion.go
  pkg/apis/ignite/v1alpha1/defaults.go
  pkg/apis/ignite/v1alpha1/doc.go
  pkg/apis/ignite/v1alpha1/json.go
  pkg/apis/ignite/v1alpha1/register.go
  pkg/apis/ignite/v1alpha1/types.go
  pkg/apis/ignite/v1alpha1/zz_generated.conversion.go
  pkg/apis/ignite/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/ignite/v1alpha1/zz_generated.defaults.go
  pkg/openapi/openapi_generated.go
  pkg/openapi/violations.txt
Labels: kind/api-change

#624 Add ignite/v1alpha3 API
  Makefile
  cmd/ignite/cmd/vmcmd/ps.go
  cmd/ignite/run/testdata/input/create-config-no-name.yaml
  cmd/ignite/run/testdata/input/rm-no-name-uid.yaml
  cmd/ignite/run/testdata/input/rm-vm1.yaml
  cmd/ignite/run/testdata/output/inspect-json.txt
  cmd/ignite/run/testdata/output/inspect-yaml.txt
  docs/api/ignite_v1alpha3.md
  docs/api/index.md
  docs/cli/ignite/ignite_ps.md
  docs/cli/ignite/ignite_vm_ps.md
  docs/declarative-config.md
  docs/gitops.md
  docs/installation.md
  docs/my-vm.yaml
  go.mod
  pkg/apis/ignite/scheme/scheme.go
  pkg/apis/ignite/v1alpha3/defaults.go
  pkg/apis/ignite/v1alpha3/doc.go
  pkg/apis/ignite/v1alpha3/json.go
  pkg/apis/ignite/v1alpha3/register.go
  pkg/apis/ignite/v1alpha3/types.go
  pkg/apis/ignite/v1alpha3/zz_generated.conversion.go
  pkg/apis/ignite/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/ignite/v1alpha3/zz_generated.defaults.go
  pkg/openapi/openapi_generated.go
  pkg/openapi/violations.txt
  vendor/modules.txt
Labels: api/v1alpha3
